
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- angular-validation module-->
    <script src="../node_modules/angular-validation/dist/angular-validation.js"></script>
    <script src="../node_modules/angular-validation/dist/angular-validation-rule.js"></script>

    <script>

var myApp = angular.module('myApp', ['ngRoute','validation', 'validation.rule']);
//angular.module('yourApp', ['validation', 'validation.rule']);

//---------------------------------------------------------------CONTROLLER
myApp.controller('formCtrl', function ($scope) {

});
    </script>
</head>

<body>
<div class="container">
    <div ng-app="myApp" ng-controller="formCtrl">
        <form name="Form">
            <div >
            <div>
                 <label>Required</label>
                <input type="text" name="required" ng-model="form.required" validator="required">
            </div>
            <div>
            <label>Url</label>
                <input type="text" name="url" ng-model="form.url" validator="required, url">
            </div>
                <button validation-submit="Form" ng-click="next()">Submit</button>
                <button validation-reset="Form">Reset</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
