.btn-primary {
     background-color: red !important;
}
.col{
  background-color:lavenderblush;
  right-margin: 10px;
  padding: 5px;
  //border:2px ridge #b3d4fc;
}
.row{
  border:2px ridge #b3d4fc;

}